/*-----------------------------------*\
  $RESET
\*-----------------------------------*/
*,
:before,
:after { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; color: rgba(0, 0, 0, .7); }
input,
select,
button,
textarea { font: inherit; color: inherit; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
select { color: rgba(10, 175, 255, .7); }

/*-----------------------------------*\
  $OBJECTS
\*-----------------------------------*/
.butt,
.input { margin: .375rem; padding: .75rem; border-radius: 4px; background-color: transparent; }
.butt:focus,
.input:focus { outline: none; }
.butt { font-weight: 700; line-height: 1.375; padding-right: 1.5rem; padding-left: 1.5rem; cursor: pointer; -webkit-animation: hue 60s infinite linear; color: #f35626; border: 2px solid #f35626; }
.butt--primary { color: #fff; background-color: #f35626; }
.input { border: 1px solid #c0c8c9; border-radius: 4px; }

/*-----------------------------------*\
  $TYPOGRAPHY
\*-----------------------------------*/
h1,
.alpha { font-size: 3rem; font-weight: 100; line-height: 1; margin-bottom: 1.5rem; letter-spacing: -.05em; }
h2,
.beta { font-size: 1.5rem; font-weight: 400; line-height: 1; margin-bottom: .75rem; }
@media (min-width:650px) {
  .mega { font-size: 6rem; line-height: 1; }
}
.subhead,
.meta { color: #7b8993; }
.promo { text-align: center; }
p,
hr,
form { margin-bottom: 1.5rem; }
hr { height: 1px; margin-top: -1px; border: none; background-color: #c0c8c9; background-image: -webkit-linear-gradient(0deg, #fff, #c0c8c9, #fff); }
a { -webkit-animation: hue 60s infinite linear; text-decoration: underline; color: inherit; }
a:hover { color: #f35626; }

/*-----------------------------------*\
  $LAYOUT
\*-----------------------------------*/
.wrap { max-width: 38rem; margin: 0 auto; }
.island { padding: 1.5rem; }
.isle { padding: .75rem; }
.spit { padding: .375rem; }

/*-----------------------------------*\
  $BASE
\*-----------------------------------*/
html { font: 100%/1.5 'Roboto', Verdana, sans-serif; overflow: hidden-x; width: 100%;    /* Centering in The Unknown */ text-align: center; color: #3d464d; background-color: #fff; -webkit-font-smoothing: antialiased; }
@media (min-width:650px) {
  html { height: 100%; background-color: rgba(0, 0, 0, .9); }
  html:before { display: inline-block; height: 100%; margin-right: -.25em; content: ''; vertical-align: middle; }
  body { display: inline-block; /* max-width: 38rem; */ vertical-align: middle; }
}

/*-----------------------------------*\
  $HEADER
\*-----------------------------------*/
.site__header { -webkit-animation: bounceInUp 1s; }
.site__title { -webkit-animation: hue 60s infinite linear; color: #f35626; background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.site__content { -webkit-animation: bounceInUp 1s; -webkit-animation-delay: .1s; }
.site__content form { -webkit-animation: bounceInUp 1s; -webkit-animation-delay: .1s; }

/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/
@-webkit-keyframes hue {
  from { -webkit-filter: hue-rotate(0deg); }
  to { -webkit-filter: hue-rotate(-360deg); }
}

pre { font-size: 85%; line-height: 1.45; overflow: auto; margin-bottom: 1em; padding: 16px; text-align: left; color: rgba(0, 0, 0, 1); border-radius: 3px; background-color: rgba(255, 255, 255, .9); }
.pl-e,
.pl-en { color: #6f42c1; }
.pl-k { color: #d73a49; }
.pl-c1,
.pl-s .pl-v { color: #001cc1; }
.val--class { color: rgba(10, 175, 255, 1); }